{% extends 'base.html' %}

{% block title %}Главная страница проекта{% endblock %}

{% block content %}
    <h1>Добро пожаловать в проект SeatSync</h1>

     <p>
        В нашей базе данных зарегистрировано
        <strong>{{ total_employees_count }}</strong> сотрудников.
    </p>

    <p>
        Описание проекта: Здесь вы найдете информацию о наших замечательных сотрудниках.
        На главной странице показаны несколько ключевых профилей.
    </p>

    <h2>Последние принятые сотрудники:</h2>

    <div class="employee-grid">
        {% for user in object_list %}
            {% include 'includes/users/user_stats.html' with user=user %}
        {% empty %}
            <p>Сотрудники не найдены.</p>
        {% endfor %}
    </div>
    
    <p>
        <a href="{% url 'users:index' %}">
            Посмотреть полный список сотрудников &rarr;
        </a>
    </p>

{% endblock %}